body{
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.pixabay.com/photo/2018/09/23/18/30/drop-3698073_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    top: 35%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.code{
    padding: 60px 40px 40px 40px;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    border: 1px solid white;
    backdrop-filter: blur;
    color: white;
}
button{
   color: white;
    background-color: dodgerblue;
    border: none;
    outline: none;
    padding: 16px;
    border-radius: 40px;
    margin-left:100px;
    margin-top: 40px;
}
button:hover{
    color: blue;
    background-color: white;
}

