#div1{
    height: 200px;
    width: 150px;
    background-color: blue;
}
#div2{
    height: 200px;
    width: 150px;
    background-color: red;
}
#div3{
    height: 300px;
    width: 225px;
    background-color: green;
}